<!-- <app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div> -->
<app-panel></app-panel>

<ng-template #fimDeJogo >
    <div *ngIf="encerramento === 'Derrota'; else fimDeJogoVitoria" class="row">
        <div class="container">
            <div class="col">
                <h3 style="color: red">Você perdeu o jogo</h3>
                <button class="btn btn-primary" (click)="reiniciar()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria >
    <div class="row">
        <div class="container">
            <div class="col">
                <h3 style="color: green">Você Ganhou o jogo</h3>
                <button class="btn btn-primary" (click)="reiniciar()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

